<div class="blog-masthead">
  <div class="container">
    <nav class="nav blog-nav navbar navbar-expand-lg navbar-light">
      <%= link_to "Tommy", root_path, class: 'navbar-brand' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <%= nav_helper'nav-link', 'li'%>
          <%= login_helper 'nav-link'%>
        </ul>
      </div>
    </nav>
  </div>
</div>



