<h1>Contact Me</h1>


<div class="row">
  <div class="col-md-6">
    

    <h3>Phone</h3>

    <p><%= number_to_phone "0912345678" %></p>

    <h3>Email</h3>

    <p><a href="mailto:sage.ts920126@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.4024258247196!2d121.51384200000001!3d25.054346000000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a914abd258bd%3A0xd3262d003fb7e21e!2zMTAz5Y-w5YyX5biC5aSn5ZCM5Y2A6YeN5oW25YyX6Lev5LqM5q61NuW3tzEx6Jmf!5e0!3m2!1szh-TW!2stw!4v1527209999090" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
