<h1>Pages#contact</h1>

<p><%= number_to_phone "0912-345-678" %></p>

<p><%= number_to_currency "1000" %></p>

<p><%= number_to_percentage "80.4" %></p>

<p><%= number_with_delimiter "3245678" %></p>

