<main role="main" class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">Nice to meet! My name is Tommy. I am a Malaysian! I love coding ,because it can help fufil my idea!!Feel free to visit my website!</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>  
  </p>
</main>

 